/* Import Google Fonts if needed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Color scheme */
  --background-color: #f0f2f5;
  --item-background-color: #ffffff;
  --hover-background-color: #e2e6ea;
  --primary-color: #3793f5d6;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #cb6872;
  --warning-color: #c2a95f;
  --info-color: #17a2b8;
  --disabled-color: #6c757d;
  --text-color: #343a40;
  --border-color: #dee2e6;
  
  /* Typography */
  --font-size-base: 1rem; /* 16px */
  --font-size-sm: 0.875rem; /* 14px */
  
  /* Spacing */
  --padding-base: 0.5rem;
  --margin-base: 0.5rem;
  
  /* Border and shadow */
  --border-radius: 0.25rem;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.user-list, .post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: var(--padding-base);
  background-color:  var(--item-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card p {
  margin: 0 0 var(--margin-base);
  color: var(--text-color);
  font-weight: bold;
}

.card button {
  padding: var(--padding-base);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.card button:not(:last-child) {
  margin-right: var(--margin-base);
}

.card button:hover {
  transform: translateY(-2px);
}

.card button:disabled {
  background-color: var(--disabled-color);
  color: #fff;
  cursor: not-allowed;
}

.card .remove-friend {
  background-color: var(--danger-color);
  color: #fff;
}

.card .add-friend,
.card .view-profile {
  background-color: var(--primary-color);
  color: #fff;
}

.card .block,
.card .unblock {
  background-color: var(--warning-color);
  color: #fff;
}

.card .pending {
  background-color: var(--secondary-color);
  color: #fff;
}

.card img,
.card video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  border: 1px solid var(--border-color); /* Add border */
}

