.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  width: 50%;
  position: relative;
  left: 25%;
}

.input,
.select {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
}

.button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.profilePicContainer {
  margin-bottom: 40px;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  left: 25%;
}

.profilePicContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profilePicContainer .fileInput {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  outline: none;
}
